<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Macro Calculator</title>
</head>


<body>
<div>
    <form action="/upload"
          method="post"
          enctype="multipart/form-data">
          <input type="file" name="image" accept="image/*" capture="environment" required />
        <input type="submit" name="create_post" value="upload" />
        <input type="hidden" name="operation" value="create" />
    </form>
</div>







</body>